@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital@0;1&family=Tenor+Sans&display=swap');

:root {
  --dark-gold:  #cc9f0c;
  --light-gold: #dad4b2;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h2, h3 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 10px;
  color: var(--dark-gold);
}

a { 
  text-decoration: none;
  color: black;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gold);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px 0;
  background-color: var(--light-gold);
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-top: var(--dark-gold) 5px solid;
  z-index: 100;
  font-size: 16px;
}

.contacts__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}

.contacts__col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 200px;
}

.home__page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}

.hello__wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 762px;
}

.hello__header {
  font-weight: 700;
}

.hello__sub {
  font-style: italic;
  text-align: right;
  max-width: 500px;
  margin-left: auto;
  color: var(--dark-gold);
}

.projects__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  align-items: center;
  padding: 25px 0;
}

.project {
  border: 14px double var(--dark-gold);
  padding: 10px;
  font-size: 18px;
}

.project__name {
  margin: 10px 0;
}

.project__img {
  width: 100%;
}

.project__links__wrap {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}

.project__link {
  border: 1px var(--dark-gold) solid;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.project__link:hover {
  background-color: var(--light-gold);
}

.project__link__icon {
  max-height: 25px;
}

#portfolio__fake__message {
  position: absolute;
  width: 150px;
  translate: 0px -100px;
}

.technology_tags__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.technology {
  border-radius: 15px;
  padding: 5px 8px;
  background-color: var(--dark-gold);
  color: white;
}

.about__wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.photo {
  border-radius: 50%;
  width: 250px;
  border: 14px double var(--dark-gold);
  margin-bottom: 15px;
}

ul.about {
  width: 100%;
  list-style: inside;
}

.about li {
  color: var(--dark-gold);
}

.about span {
  color: black;
}

.contacts__link {
  border-bottom: 3px dashed var(--dark-gold);
}

.contacts__link:hover {
  color: var(--dark-gold);
}

/* Project page */

.project_page {
  padding: 20px;
}

.project_page .project {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project__carousel__wrap {
  display: flex;
  justify-content: center;
}

.project__carousel__img {
  max-height: 450px !important;
}

.slick-dots li {
  background-color: var(--light-gold);
}

.slick-dots li.slick-active button{
  background: var(--dark-gold) !important;
}

.slick-dots-bottom {
  bottom: -12px !important;
}

.back__btn {
  border-bottom: dashed 3px var(--dark-gold);
  margin: 20px 0;
  display: inline-block;
}

.back__btn:hover {
  color: var(--dark-gold);
}

.project.portfolio p:nth-last-of-type(2),
.project.portfolio p:nth-last-of-type(1) {
  color: var(--dark-gold);
  font-style: italic;
}

/* adaptive */

@media (max-width: 800px) {
  #root {
    font-size: 18px;
  }

  .projects__wrapper {
    grid-template-columns: 1fr;
  }

  .project {
    border: 3px solid var(--dark-gold);
  }

  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .content {
    padding-bottom: 250px;
    width: 100%;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 20px;
  }

  .project__carousel__img {
    max-height: 300px !important;
  }
}